{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <h1>Find Me A Recipe</h1>

    <div class="container">
        <div class="row">
          <div class="col">
            <p>Have you ever wondered what you can make for dinner using only the ingredients you already have in the kitchen? If you have, then this is the website for you! To search for recipes, click on the button below or go to the Recipe Search page.</p>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <a class="btn btn-success" href="/recipes/by_ingredients/form" role="button">Recipe Search</a>
          </div>
          <div class="col d-flex justify-content-center">
            <a class="btn btn-success" href="#" role="button">Log In</a>
          </div>
        </div>
      </div>

{% endblock %}