{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <h1>Find Me A Recipe</h1>

    <div class="container">
        <div class="row">
          <div class="col">
            <p>Have you ever wondered what you can make for dinner using only the ingredients you already have in the kitchen? Have you ever struggled to figure out which recipe you want to use out of the dozens that are spread across different sites? If you have, then this is the website for you! To search for recipes based on the ingredients you already have in your kitchen or based on their names, click on the buttons below or at the top of the page.</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <a class="btn btn-success" href="/recipes/by_ingredients/form" role="button">Search Recipes by Ingredients</a>
          </div>
        </div>
        <br>
        <div class="row">  
          <div class="col d-flex justify-content-center">
            <a class="btn btn-success" href="/recipes/by_keyword/form" role="button">Search Recipes by Name</a>
          </div>
        </div>
      </div>

{% endblock %}