{% extends "bootstrap_5_layout.html" %}
{% set page_title = "Recipe Suggestions by Ingredients" %}
{% set active_page = "recipes_list_by_ingredients" %}

{% block content %}

    <h1>Recipe Suggestions</h1>

    {% if data|length > 0 %}

        <!--div class="container"-->
        <div class="row">
            {% for item in data %}
                <div class="col">
                    <div class="card position-relative" style="width: 18rem; margin-bottom: 20px;">
                        <img class="card-img-top" src="{{ item.image }}" alt="an image of '{{ item.title }}'">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text"><b>Missing Ingredients:</b>
                                {% for ingredient in item.missedIngredients %}
                                    {% if loop.index < item.missedIngredients|length %}
                                        {{ingredient.name}},
                                    {% else %}
                                        {{ingredient.name}}
                                    {% endif %}
                                {% endfor %}
                            </p>
                            
                            <!-- SELECT RECIPE TO VIEW -->
                            <form method="POST" action="/recipe/by_ingredients/info" style="display: inline;">
                                <input type="hidden" name="recipe_id" value="{{ item.id }}">
                                <input type="hidden" name="missing_ingredients" value="{{ item.missedIngredients }}">
                                <button type="submit" class="btn btn-success">View Info</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!--/div-->

    {% else %}

        <p>Oops, no products found.</p>

    {% endif %}

{% endblock %}