{% extends "bootstrap_5_layout.html" %}
{% set page_title = "Recipe Information by Ingredients" %}
{% set active_page = "recipe_info_by_ingredients" %}

{% block content %}

    <h1>{{ recipe.title }}</h1>

    <div class="container">
        <div class="row">
          <div class="col">
            <img src="{{ recipe.image }}"" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col">
            <p><b>Ready In:</b> {{ recipe.readyInMinutes }} Minutes</p>
            <br>
            <p><b>Missing Ingredients:</b>
              {% for ingredient in missing_ingredients %}
                {% if loop.index < missing_ingredients|length %}
                  {{ingredient.name}},
                {% else %}
                  {{ingredient.name}}
                {% endif %}
              {% endfor %}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <br>
            <h3>Ingredients</h3>
            <ul>
                {% for ingredient in recipe.extendedIngredients %}
                    <li>{{ ingredient.original}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            <div class="col">
                <h3>Instructions</h3>
                <div>{{ recipe.instructions | safe }}</div>
            </div>
        </div>
      </div>

{% endblock %}